<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="shortcut icon" type="image/png" href="/img/yt.png" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>YouTube to MP3</title>
</head>

<body>

  <div class="top-container">
    <form action="/convert-mp3" method="POST" id="form">
      <h1><i class="fab fa-youtube"></i> YouTube to MP3 Converter</h1>
      <h4>Enter the video ID</h4>
      <div>
        <input type="text" name="videoId" placeholder="Video ID..."><button id="submit-btn">Convert</button>
      </div>
    </form>
  </div>

  <div class="bottom-container">
    <% if (typeof success != "undefined" && success) { %>
      <div class="success">
        <p> <%= song_title %> </p>
        <a href="<%= song_link %>"><button id="download-btn">DOWNLOAD</button></a>
        <a class="convert-next" href="/">Convert next</a>
      </div>
    <% } else if (typeof success != "undefined" && !success) { %>
      <div class="errors">
        <p><%= message %></p>
      </div>
    <% } %>

    <div class="info">
      <h1>How to convert </h1>
      <p>"Easily convert any YouTube video to MP3 using my advanced online YouTube converter. This tool is designed and optimized to be used on any mobile, tablet and computer device. "
        <br>
        <br>
        "This online converter does not convert videos length longer than 2 hours (7200 sec). The advantage of this limitation is that my tool is not overloaded. It takes only 5-20 seconds to convert 5 minutes of video. "
        <br>
        <br>
        "To use this app, copy the youtube video id in the url just after the ? mark like this - https://www.youtube.com/watch?v="
        <span class="youtubeid"> dQw4w9WgXcQ</span>
      </p>
    </div>
  </div>

</body>

</html>
